$main-color: #2C2738;
$bg-color: #E5E5E5;
$accent-color: #0880AE;
$secondary-color: #DBE2EA;
$text-color: #756F86;
$placeholder-text-color: #7C9CBF;
$invalid-color: #FF7171;
$bg-options-color: #EBF4F8;